:root {
    --white-primary: #FFF;
    --blue-secondary: #00AEEF;
}

.formContainer {
    display: flex;
    align-items: center;
    background-image: url(../formulario/bk-form.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid var(--white-primary);
}

.textComp {
    color: var(--white-primary);
    background-image: url(../formulario/bk2-form.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 51.6875rem;
    padding-left: 3.81rem;
    color: var(--white-primary);
}

.formContainer .textComp h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 39.5rem;
    margin-top: 4.45rem;
}
.formContainer .textComp p{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 33rem;
    margin-top: 2.56rem;
    margin-bottom: 13.19rem;
}

.formContainer .form {
    display: flex;
    flex-direction: column;
    width: 32.25rem;
    margin: 0 auto;
}
.form .inputUser{
    display: flex;
}
.form .inputUser input{
    width: 50%;
}
.form input,
.form textarea,
.form button{
    display: inline-flex;
    padding: 0.625rem 1.6rem;
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
    border-radius: var(--borderRound, 0.9375rem);
    border: 3px solid var(--blue-secondary, #00AEEF);
    color: var(--white-primary);
    background: none;
}
.form input::placeholder,
.form textarea::placeholder{
    color: var(--white-primary);
}
.form button{
    cursor: pointer;
}
@media (max-width: 960px){
    .formContainer{
        flex-direction: column;
    }
    .textComp{
        width: 100%;
        height: 18.0625rem;
    }
    .formContainer .textComp h2 {
        margin-top: 3.10rem;
        width: 20.5rem;
        font-size: 1.5rem;
    }
    .formContainer .textComp p{
        width: 20.5rem;
        font-size: 1rem;
    }
    .formContainer .form {
        width: 80%;
        margin: 2.2rem 0;
    }
    .form .inputUser{
        flex-direction: column;
    }
    .form .inputUser input{
        width: auto;
    }
}
@media (max-width: 480px){
    .textComp{
        padding-left: 3rem;
    }
    .formContainer .textComp h2,
    .formContainer .textComp p{
        width: 90%;
    }
    .formContainer .textComp h2{
        margin-top: 2.45rem;
    }
    .formContainer .textComp p{
        margin-bottom: 2.19rem;
    }
}
@media (max-width: 380px){
    .textComp{
        padding: 0 2rem;
    }
}
