:root{
    --color2: #00AEEF;
    --color11 : #717073;
    --white-primary: #FFF;
    --blue-tertiary: #182A54;
}

.navG{
    background-color: var(--color11);
    display: flex;
    padding: .50rem 0;
}
.navGOp{
    display: inline-flex;
}
.navGOp ul {
    padding: .2rem 1.88rem;
    border-right: 1px solid var(--white-primary, #FFF);
}

.navGOp ul a{
    color: var(--white-primary, #FFF);
}

.navGOp ul a:hover{
    color: var(--blue-tertiary);
}

.logoContainer {
    display: none;
}

@media (max-width: 960px){
    .navG{
        flex-direction: column-reverse;
    }
    .navGOp{
        display: none;
        transition: all 0.3s ease;
    }
    .navGOp.active{
        display: block;
        position: static;
        width: 100%;
        margin: 0.5rem 0;
    }
    .navGOp.active ul:hover{
        background-color: var(--white-primary);
    }
    .navGOp.active ul:hover a{
        color: var(--blue-tertiary);
        font-weight: 600;
    }
    .logoContainer{
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .logoContainer img {
        height: 2rem;
    }
    .logoContainer .toggle{
        font-size: 1.5rem;
    }
}