:root{
    --white-primary: #fff;
    --blue-primary: #0073ae;
}
nav{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 5px solid var(--white-primary, #FFF);
    background: var(--blue-primary, #0073AE);
    color: var(--white-primary) ;
}
nav h1{
    margin-left: .9rem;
    width: 50%;
}
nav h1 span{
    padding: 0 .9rem;
}
nav .navTitle{
    border-right: 2px solid var(--white-primary, #FFF);
}
nav .menu{
    display: inline-flex;
}
nav .menu ol{
    margin: 0 1rem;
}
nav img{
    position: absolute;
    right: 1.8rem;
    height: 2rem;
}
