:root {
    --white-primary: #fff;
    --blue-primary: #0073ae;
    --Color7: #74BB23;
}

nav {
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 5px solid var(--white-primary, #FFF);
    background: var(--blue-primary, #0073AE);
}

nav .logoLink {
    width: 50%;
    padding: 0;
    margin-left: .9rem;
}

nav .logoLink li h1 {
    color: var(--white-primary, #fff);
}

nav h1 span {
    padding: 0 .9rem;
}

nav .navTitle {
    border-right: 2px solid var(--white-primary, #FFF);
}

nav .menu {
    display: inline-flex;
}

nav .menu li {
    margin: 0 1rem;
    color: var(--white-primary);
}

.menu li .menuUrl {
    color: var(--white-primary, #fff);
}

.menuUrl.active {
    border-bottom: 2px solid var(--white-primary);
    font-weight: 600;
    /* transition: all .6s ease; */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--blue-primary);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 6px;
    z-index: 1;
}

.dropDown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content .menuUrl{
    padding: .5rem 1rem;
}

.dropdown-content .menuUrl:hover{
    background-color: var(--white-primary);
    color: var(--blue-primary);
    font-weight: 600;
}

nav .menuBars{
    display: none;
}

nav img {
    position: absolute;
    right: 1.8rem;
    height: 2rem;
}

@media (max-width: 960px){
    nav .menu{
        position: fixed;
        flex-direction: column;
        top: 6rem;
        right: -300px;
        background-color: var(--blue-primary);
        bottom: 0;
        width: 30%;
        transition: all .5s ease-in-out;
    }

    nav .menu li {
        margin: 1rem;
    }

    nav .menu.active{
        right: 0;
    }

    .dropdown-content{
        position: relative;
        background-color: var(--white-primary);
    }

    .dropdown-content .menuUrl {
        color: var(--blue-primary) !important;
    }

    .dropdown-content .menuUrl:hover{
        background-color: var(--blue-primary);
        color: var(--white-primary) !important;
        font-weight: 600;
    }

    nav .menuBars{
        position: absolute;
        right: 1.8rem;
        display: block;
        font-size: 1.5rem;
    }
    
    nav img{
        display: none;
    }
}