:root {
    --blue-tertiary: #182A54;
    --white-primary: #fff;
}

.heroContainer {
    display: flex;
    height: 34.0625rem;
}

.heroContainer .heroLeft{
    position: relative;
    z-index: 0;
    display: flex;
    width: 58%;
    background-color: var(--blue-tertiary);
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.heroContainer .heroLeft .heroTextContainer{
    margin: 5.5rem;
    color: var(--white-primary);
}

.heroContainer .heroTextContainer h1 {
    font-size: var(--Title-med);
    margin-bottom: 1.2rem;
    width: 100%;
}

.heroContainer .heroTextContainer p {
    /* font-size: 1.5rem; */
    color: var(--white-primary);
    font-size: var(--Text-min);
    margin-bottom: 3.19rem;
    width: 32.9375rem;
}

.heroContainer .heroTextContainer button {
    padding: 0.625rem 3.125rem;
    justify-content: center;
    align-items: center;
    color: var(--white-primary);
    background-color: var(--Color2);
    border-radius: 1rem;
    font-size: var(--Text-med);
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.heroDivisor{
    position: absolute;
    right: 0;
    width: 14rem;
    height: 100%;
    background-image: linear-gradient(180deg,
            var(--Color2) 0%,
            var(--Color2) 25%,
            var(--Color3) 25%,
            var(--Color3) 50%,
            var(--Color7) 50%,
            var(--Color7) 75%,
            var(--Color8) 75%,
            var(--Color8) 100%);
    background-repeat: no-repeat;
    /* display: inline-block; */
    -webkit-clip-path: polygon(86% 0,100% 0,50% 100%,35% 100%);
    clip-path: polygon(86% 0,100% 0,50% 100%,35% 100%);
}

.heroImageContainer {
    position: absolute;
    right: 0;
    z-index: -1;
    /* width: 50%;
    height: inherit;
    background: linear-gradient(0deg, rgba(116, 187, 35, 0.20) 0%, rgba(116, 187, 35, 0.20) 100%), url(./matthew-osborn-wMRIcT86SWU-unsplash.webp);
    background-size: cover;
    background-position: center; */
}
.heroImageContainer img{
    /* display: none; */
    width: 58.0625rem;
    /* height: 34.062rem; */
}

@media (max-width:1440px){
    .heroContainer {
        height: auto;
    }
    .heroContainer .heroLeft .heroTextContainer{
        margin: 3.5rem;
    }
    .heroContainer .heroTextContainer h1 {
        font-size: var(--Subtitle-med);
        width: 80%;
    }
    .heroContainer .heroTextContainer p {
        font-size: var(--Text-min);
        margin-bottom: 3.19rem;
        width: 67%;
    }
    .heroContainer .heroTextContainer button {
        font-size: var(--Text-min);
    }
    .heroDivisor{
        -webkit-clip-path: polygon(86% 0,100% 0,62% 100%,48% 100%);
        clip-path: polygon(86% 0,100% 0,62% 100%,48% 100%);
    }
    .heroImageContainer img{
        width: 44.7rem;
        height: auto;
    }
}
@media ( max-width: 1280px){
    .heroContainer .heroTextContainer p {
        font-size: var(--Text-min);
        margin-bottom: 2.19rem;
        width: 70%;
    }
    .heroDivisor{
        -webkit-clip-path: polygon(86% 0,100% 0,66% 100%,51% 100%);
        clip-path: polygon(86% 0,100% 0,66% 100%,51% 100%);
    }
    .heroImageContainer img{
        width: 41.262rem;
    }
}
@media (max-width: 960px){
    .heroContainer .heroLeft .heroTextContainer{
        margin: 1.88rem 1.5rem;
    }
    .heroContainer .heroTextContainer h1 {
        font-size: var(--Subtitle-min);
        width: 100%;
    }
    .heroContainer .heroTextContainer p {
        font-size: var(--Text-min);
        margin-bottom: 1.5rem;
        width: 90%;
    }
    .heroContainer .heroTextContainer button{
        padding: 0.625rem 3.125rem;
        font-size: 1rem;
    }
    .heroDivisor{
        width: 8rem;
    }
    .heroImageContainer img{
        width: 37.02325rem;
    }
}

@media (max-width: 480px){
    .heroContainer {
        flex-direction: column-reverse;
    }
    .heroContainer .heroLeft{
        /* display: none; */
        width: 100%;
        flex-direction: column;
        position: static;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .heroDivisor{
        /* display: none; */
        width: 100%;
        height: 1rem;
        position: static;
        background-image: linear-gradient(to right,
            var(--Color2) 0%,
            var(--Color2) 25%,
            var(--Color3) 25%,
            var(--Color3) 50%,
            var(--Color7) 50%,
            var(--Color7) 75%,
            var(--Color8) 75%,
            var(--Color8) 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .heroContainer .heroTextContainer p,
    .heroContainer .heroTextContainer button{
        width: 100%;
        text-align: justify;
    }
    .heroImageContainer{
        position: static;
    }
    .heroImageContainer img{
        width: 100%;
    }
}
@media (max-width: 380px){}